@import '../../assets/sass/colors.scss';

footer {
    position: relative;

    a {
        color: $main !important;
        border-color: $main !important;

        &:hover {
            color: $secondary !important;
            border-color: $secondary !important;
        }
    }

    p {
        text-align: center;
    }

    .footer-dev {
        margin-bottom: 0;
        font-size: 0.8rem;
        color: grey;

        a {
            font-size: 0.8rem;
        }
    }

    .lang-switch-wrapper {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}