.carousel {
    &-item {
        height: 700px;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 0 32px;
        overflow: hidden;
        justify-content: flex-end;

        img {
            flex: 1;
            max-height: 100%;
            max-width: 100%;
            margin: auto;
            object-fit: scale-down;
        }

        &.active,
        &.carousel-item-next,
        &.carousel-item-prev {
            display: flex !important;
        }
    }

    .carousel-caption {
        position: static;
        padding: 10px 10px 0;

        >* {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}