@import '../../assets/sass/colors.scss';

.lang-switch {
    width: fit-content;
    position: relative;

    ul {
        list-style: none;
    }

    button {
        background-color: #fff;
        border-radius: 15px;
        padding: 0.5rem 0.8rem;
        gap: 1rem;
        border: 1px solid $main;
        cursor: pointer;

        &:hover {
            background-color: $secondary;
        }
    }

    &.lang-switch-in-header {
        .main-lang-switch-btn {
            padding: 3px;
            border-radius: 100%;
        }
    }

    .lang-menu {
        position: absolute;
        top: -200%;
        right: 0;
        background-color: #fff;
        border-radius: 15px;
        padding: 1rem;
        display: none;
        gap: 1rem;
        border: 1px solid $main;
    }

    &.lang-switch-in-header {
        .lang-menu {
            position: absolute;
            top: 120%;
            right: 0;
            background-color: #fff;
            border-radius: 15px;
            padding: 1rem;
            display: none;
            gap: 1rem;
            border: 1px solid $main;
        }
    }

    &:focus-within .lang-menu {
        display: flex;
    }

    img {
        width: 30px;
        border-radius: 15px;
    }
}