.image-multi-carousel {
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .current-image {
        max-width: 100%;
        max-height: 80vh;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        padding: 1rem;

        &.prev {
            left: 0;
        }

        &.next {
            right: 0;
        }
    }
}

.image-multi-carousel-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
}