@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

body {
    background-color: $bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: $text;
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
}

p,
a {
    font-family: 'Amaranth', sans-serif;
    font-weight: 400;
    text-align: justify;
    font-size: 1.5rem;

    @media (max-width: $lg) {
        font-size: 1rem;
    }
}

hr {
    height: 0.5rem !important;
    color: $main !important;
    opacity: 100% !important;
}

p {
    color: $text;
}

a {
    color: $main !important;
    font-weight: bolder;

    &:hover {
        color: $secondary !important;
    }

}

button {
    width: max-content !important;
    color: $bg !important;
    background-color: $main !important;

    &:hover {
        color: $bg !important;
        background-color: $secondary !important;
    }
}

.register-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;

    a {
        background-color: #0d6efd;
        color: #FFFFFF !important;
        padding: 1rem 2rem;
        border-radius: 15px;
        text-decoration: none;
        font-weight: 700;

        &:hover {
            background-color: #ffaec8;
            color: #0d6efd !important;
        }
    }
}